---
vars_list:
# The below roles are required when HA is enabled (i.e. hdfs_ha = True)
  - name_suffix: vmss1
    sku: Standard_D4s_v3
    perf_profile: azd8s
    data_disk_count: 4
    data_disk_sku: Premium_LRS
    data_disk_size_gb: 512
    data_disk_caching: ReadOnly
    capacity: 4
    roles:
      namenode: 1
      resourcemanager: 1
      accumulomaster: 1
      zookeeper: 1
      journalnode: 2
      zkfc: 1
      client: 4
  - name_suffix: vmss2
    sku: Standard_D4s_v3
    perf_profile: perf-small
    data_disk_count: 4
    data_disk_sku: Standard_LRS
    data_disk_size_gb: 512
    data_disk_caching: ReadOnly
    capacity: 4
    roles:
      zookeeper: 2
      journalnode: 1
      namenode: 1
      zkfc: 1
      accumulomaster: 1
      resourcemanager: 1
      client: 4
  - name_suffix: vmss3
    sku: Standard_D4s_v3
    perf_profile: azd8s
    data_disk_count: 8
    data_disk_sku: Standard_LRS
    data_disk_size_gb: 1024
    data_disk_caching: ReadOnly
    capacity: 4
    roles:
      worker: 4

  # The below roles are required when HA is not enabled  (i.e hdfs_ha = False)
  - name_suffix: vmss4
    sku: Standard_D4s_v3
    perf_profile: azd8s
    data_disk_count: 4
    data_disk_sku: Premium_LRS
    data_disk_size_gb: 512
    data_disk_caching: ReadOnly
    capacity: 3
    roles:
      namenode: 1
      resourcemanager: 1
      accumulomaster: 1
      zookeeper: 1
      client: 3
  - name_suffix: vmss5
    sku: Standard_D4s_v3
    perf_profile: azd8s
    data_disk_count: 4
    data_disk_sku: Premium_LRS
    data_disk_size_gb: 512
    data_disk_caching: ReadOnly
    capacity: 1
    roles:
      metrics: 1
      client: 1

  # As an example, the below is also configured as an Azure Spot (Low-Priority) VMSS
  - name_suffix: vmss6
    sku: Standard_D8s_v3
    vmss_priority: Spot
    perf_profile: azd8s
    data_disk_count: 8
    data_disk_sku: Standard_LRS
    data_disk_size_gb: 1024
    data_disk_caching: ReadOnly
    capacity: 3
    roles:
      worker: 3

  # The below VMSS definition is provided just as a sample to show how we
  # can define per-VMSS mount root and disk path and pattern definitions
  # Using ephemeral storage like the one shown below should not be used for
  # any case where data persistence is required
  - name_suffix: vmss7
    sku: Standard_L16s_v2
    perf_profile: azd8s
    azure_disk_device_path: /dev
    azure_disk_device_pattern: nvme*n1
    mount_root: /nvmedata
    data_disk_count: 0
    data_disk_sku: Standard_LRS
    data_disk_size_gb: 1024
    # This is just an example to show that caching can be set to different
    # values for each VMSS.
    data_disk_caching: None
    capacity: 4
    roles:
      worker: 4
