{% if inventory_hostname in groups['zookeepers'] -%}
LoadPlugin zookeeper
 <Plugin "zookeeper">
  Host "127.0.0.1"
  Port "2181"
 </Plugin>
{%- endif %}

LoadPlugin statsd
<Plugin statsd>
  Host "::"
  Port "8125"
  DeleteSets     true
  DeleteCounters true
  DeleteTimers   true
  DeleteGauges   true
  TimerPercentile 90.0
</Plugin>
