- hosts: mesosmaster
  become: yes
  tasks:
    - name: "stop mesos-master & marathon"
      service: name={{ item }} state=stopped
      when: "'mesosmaster' in groups"
      with_items:
        - mesos-master
        - marathon
- hosts: workers
  become: yes
  tasks:
    - name: "stop mesos slaves"
      service: name=mesos-slave state=stopped
      when: "'mesosmaster' in groups"
- hosts: all
  become: yes
  tasks:
  - name: "ensure all processes started by Muchos are killed"
    script: roles/common/files/kill.sh
