- name: "ensure cluster user exists and generate ssh key" 
  user: name={{ cluster_user }} generate_ssh_key=yes ssh_key_bits=4096 state=present
  become: yes
- name: "create tarball directory on proxy"
  file: path={{ tarballs_dir }} state=directory
- name: "determine best apache mirror to use"
  shell: curl -sk https://apache.org/mirrors.cgi?as_json | grep preferred | cut -d \" -f 4
  register: apache_mirror
  failed_when: "'http' not in apache_mirror.stdout"
  changed_when: False
- name: "download tarballs to proxy" 
  get_url: url={{ item.urlp }}/{{ item.fn }} dest={{ tarballs_dir }}/{{ item.fn }} sha256sum={{ item.sum }} force=no
  with_items:
    - { urlp: "{{ apache_mirror.stdout }}/zookeeper/zookeeper-{{ zookeeper_version }}", fn: "{{ zookeeper_tarball }}", sum: "{{ zookeeper_sha256 }}" }
    - { urlp: "{{ apache_mirror.stdout }}/hadoop/common/hadoop-{{ hadoop_version }}", fn: "{{ hadoop_tarball }}", sum: "{{ hadoop_sha256 }}" }
    - { urlp: "{{ apache_mirror.stdout }}/maven/maven-3/{{ maven_version }}/binaries", fn: "{{ maven_tarball }}", sum: "{{ maven_sha256 }}" }
    - { urlp: "{{ apache_mirror.stdout }}/spark/spark-{{ spark_version }}", fn: "{{ spark_tarball }}", sum: "{{ spark_sha256 }}" }
    - { urlp: "{{ apache_mirror.stdout }}/accumulo/{{ accumulo_version }}", fn: "{{ accumulo_tarball }}", sum: "{{ accumulo_sha256 }}" }
    - { urlp: "https://github.com/github/hub/releases/download/v{{ hub_version }}", fn: "{{ hub_tarball }}", sum: "{{ hub_sha256 }}" } 
- name: "install wget package"
  yum: name=wget state=present
  become: yes
- name: "download fluo"
  script: download-fluo.sh {{ tarballs_dir }} {{ fluo_tarball }} {{ fluo_version }} creates={{ tarballs_dir }}/{{ fluo_tarball }}
